<app-navbar></app-navbar>

<section id="contact" class="mt-[50px]">
    <div class="mx-auto container">
        <div class="flex flex-col justify-between items-center p-[15px] md:py-[30px] text-center">
            <h1 class="block font-medium text-[20px] md:text-3xl">Hey! Let's work together!</h1>
            <h2 class="block font-medium text-[14px] md:text-lg">If you have anything in mind, contact me!</h2>
        </div>
        <div class="flex flex-row justify-center items-center flex-wrap text-center max-w-[320px] md:max-w-[650px] p-[15px] mx-auto mb-[50px]">
            <a class="text-center" target="_blank" href="https://www.behance.net/henriqunegocek">
                <img class="block mx-[15px] mb-[15px] w-[50px]" src="./images/behance.png" alt="behance">
            </a>
            <a class="text-center" target="_blank" href="https://www.instagram.com/henriquenegoceki/">
                <img class="block mx-[15px] mb-[15px] w-[50px]" src="./images/instagram.png" alt="Instagram">
            </a>
            <a class="text-center" target="_blank" href="https://www.artstation.com/h-motions">
                <img class="block mx-[15px] mb-[15px] w-[50px]" src="./images/artstation.png" alt="Art Station">
            </a>
            <a class="text-center" target="_blank" href="https://api.whatsapp.com/send?phone=5511951978152&text=Ol%C3%A1%21+Vi+seu+portf%C3%B3lio+online+e+gostaria+de+conversar+contigo+para+um+projeto.">
                <img class="block mx-[15px] mb-[15px] w-[50px]" src="./images/whatsapp.png" alt="WhatsApp">
            </a>
            <a class="text-center" target="_blank" href="mailto:henrique141658@gmail.com">
                <img class="block mx-[15px] mb-[15px] w-[50px]" src="./images/email.png" alt="Email">
            </a>
        </div>
    </div>
</section>

<app-footer></app-footer>
