<div class="bg-black-screen" id="welcome">
    <img src="./images/welcome-video.gif" alt="Welcome video" class="block object-contain w-screen h-screen">
    <div class="flex flex-row">
        <div class="button-container fixed bottom-0 left-0 right-0 md:left-[calc(50%-225px)]">
            <a routerLink="home" class="block text-center relative group m-[15px] text-white bg-blue w-[calc(100%-30px)] rounded-[8px] p-[18px] font-bold text-xl cursor-pointer md:w-[450px] hover:bg-ocean-blue">
                Check my work
                <span class="absolute bottom-[24px] left-[90%] translate-x-full ease-out duration-500 transition-all invisible group-hover:visible group-hover:left-[70%] group-hover:translate-x-0">
                    <svg width="25" height="15" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.7656 5.625H0V9.375H18.7656V15L25 7.5L18.7656 0V5.625Z" fill="white"/></svg>
                </span>
            </a>
        </div>
    </div>
</div>