<app-navbar></app-navbar>

<section id="project" class="mt-[50px]">
    <div class="flex flex-col justify-between items-center px-[15px] py-[30px] text-center">
        <h1 class="block font-medium text-[20px] md:text-3xl">{{ project.title }}</h1>
        <h2 class="block font-medium text-[14px] md:text-lg">{{ project.subtitle }}</h2>
        <img src="{{ project.imageHighlight }}" alt="{{ project.title }}" class="block w-full rounded my-[30px] md:my-[50px] max-h-[500px] md:max-h-[700px]">
        <p class="">{{ project.description }}</p>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 mt-[30px] md:mt-[50px]">
            <div *ngFor="let img of project.gallery">
                <img src="{{ img }}" alt="{{ project.title }}" class="block w-full mx-auto rounded">
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
